<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Pie?.ImageThumbnailUrl" alt="">
        <div class="caption">
            <h3 class="pull-right">@Pie?.Price.ToString("c")</h3>
            <h3>
                <a href="/pie/details/@Pie?.Id">@Pie?.Name</a>
            </h3>
            <p>@Pie?.ShortDescription</p>
        </div>
    </div>
</div>