@model IEnumerable<Pie>

<partial name="_Carousel" />
<div class="text-center">
    <img src="Images/bethanys-pie-shop-logomark.png" class="logo-mark mx-auto" />
    <h1>Pies of the week</h1>
    <h5>Enjoy a weekly selection of our favorite pies</h5>

    <div class="row pies-of-the-week">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var pie in Model)
            {
                <partial name="_pieCard" model="pie" />
            }
        </div>

    </div>
</div>
