@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false">
        Shop
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pie" asp-action="Index"
                   asp-route-category="@category.Name"
                   class="dropdown-item">
                    @category.Name
                </a>
            </li>
        }
        <li>
            <a asp-controller="Pie" asp-action="Index" asp-route-Category="" class="dropdown-item">All pies</a>
        </li>
    </ul>
</li>